<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>커피 편집샵 블랙워터포트, BWP</title>
    <script src="/js/jquery-1.12.4.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <!-- 헤더 푸터 관련-->
    <link rel="stylesheet" href="/css/h_f.css">

</head>
<body>
<header id="header"></header>

<main class="container">
    <header id="article-form-header" class="py-5 text-center">
        <h1>게시글 작성</h1>
    </header>

    <form id="article-form" onsubmit="return typeCheck()">
        <div class="row mb-3 justify-content-md-center align-items-center">
            <div class="col-sm-2 col-lg-1 text-sm-end">게시판</div>
            <div class="col-sm-1 col-lg-2">
                <select class="form-select article-type-select" aria-label="Default select example" name="type" onchange="searchItem(this)">
                    <option value="1">자유게시판</option>
                    <option value="2">팁게시판</option>
                    <option value="3">리뷰게시판</option>
                </select>
            </div>
            <div class="col-sm-2 col-lg-1 text-sm-end item-select-notice display-none">브랜드</div>
            <div class="col-sm-1 col-lg-2 item-select display-none">
                <select class="form-select item-company-select" aria-label="Default select example" onchange="getItems(this)">
                    <option value="false">브랜드</option>
                    <option></option>
                </select>
            </div>
            <div class="col-sm-2 col-lg-1 text-sm-end item-select-notice display-none">상품명</div>
            <div class="col-sm-2 col-lg-3 item-select display-none">
                <select class="form-select item-name-select" aria-label="Default select example">
                    <option value="false">상품명</option>
                </select>
            </div>
        </div>

        <div class="row mb-3 justify-content-md-center">
            <label for="title" class="col-sm-2 col-lg-1 col-form-label text-sm-end">제목</label>
            <div class="col-sm-8 col-lg-9">
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
        </div>
        <div class="row mb-3 justify-content-md-center">
            <label for="content" class="col-sm-2 col-lg-1 col-form-label text-sm-end">본문</label>
            <div class="col-sm-8 col-lg-9">
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
        </div>
        <div class="row mb-5 justify-content-md-center">
            <div class="col-sm-10 d-grid gap-2 d-sm-flex justify-content-sm-end">
                <button type="submit" class="btn btn-primary" id="submit-button">저장</button>
                <button type="button" class="btn btn-secondary" id="cancel-button">취소</button>
            </div>
        </div>
    </form>
    <footer id="footer"></footer>
</main>


<script>
    function typeCheck() {
        if ($(".article-type-select").val() == 3) {
            let company_select = document.getElementsByClassName("item-company-select")[0].value;
            let name_select = document.getElementsByClassName("item-name-select")[0].value;
            if (company_select == "false" || name_select == "false") {
                alert("브랜드와 상품명을 선택해주세요")
                return false;
            }
            return true;
        }
        return true;
    }
    function searchItem(n) {
        // console.log(n.value);
        if (n.value == 3) {
            $(".item-select-notice").removeClass("display-none");
            $(".item-select").removeClass("display-none");
            $(".item-name-select").attr("name", "itemId");
        }
        else {
            $(".item-select-notice").addClass("display-none");
            $(".item-select").addClass("display-none");
            $(".item-name-select").removeAttr("name");
        }
    }

    function getItems(n) {
        if (n.value == "false") {
            // console.log("no brand")
        }
        else {
            $.ajax({
                type: 'POST',       // 요청 메서드
                url: '/articles/form/items',  // 요청 URI
                headers: {"content-type": "application/json"}, // 요청 헤더
                data: JSON.stringify(n.value),  // post 방식으로 url에 명시된 주소(/board/send)로 전송.
                success: function (result) {
                    ///////////전송받은 데이터 처리 영역////////////
                    // console.log(result)
                    for (let i = 0; i < result.length; i++) {
                        let option = `<option value="${result[i].id}">${result[i].name}</option>`
                        document.getElementsByClassName("item-name-select")[0].innerHTML += option;
                    }
                },
                error: function () {
                    alert("error")
                }
            }); // $.ajax()
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>