.item-box {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.item-img-box {
    width: 50%;
}
.item-img {
    width: 100%;
}
.item-order-box {
    width: 50%;
    padding-top: 2rem;
}
.item-company, .item-name {
    font-size: 1.5rem;
}
.item-order-box div {
    width: 100%;
    padding-bottom: 1rem;
}
.form-select {
    width: 60%;
}
.btn-group {
    display: flex;
}
.review-table {
    width: 100%;
    table-layout: fixed;
}
.review {
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    margin: 5rem 0 1rem;
}
tbody tr {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 2rem;
}
td {
    text-align: center;
}
.review-id {
    width: 10%;
}
.review-title {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
tbody .review-title:hover {
    font-weight: 600;
}
.review-nickname {
    width: 10%;
}
.review-created-at {
    width: 20%;
}