.d-1 {
    margin-left: 1rem;
}
.d-2 {
    margin-left: 3rem;
}
.d-3 {
    margin-left: 5rem;
}
.d-4 {
    margin-left: 7rem;
}
.d-5 {
    margin-left: 9rem;
}
.d-6 {
    margin-left: 11rem;
}
.d-7 {
    margin-left: 13rem;
}
.d-8 {
    margin-left: 15rem;
}
.d-9 {
    margin-left: 17rem;
}
.article-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.article-content {
    padding: 3rem 0;
}
.article-control {
    display: flex;
    justify-content: right;
    padding-bottom: 1rem;
}
.comment-box-notice {
    padding: 0.7rem;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.comment-input-box {
    padding: 1rem 0;
    display: flex;
    align-items: center;
}
.comment-input-notice {
    padding: 0 0.7rem;
}
.comment-input {
    width: 50%;
}
.create-comment-radio:checked + .create-comment-label {
    background: #334;
}
.create-comment-radio {
    display: none;
}
.create-comment-form {
    margin-left: 0.5rem;
    width: 50%;
}
.comment-ul {
    padding: 0;
}
.comment-area {
    position: relative;
    margin-bottom: 1rem;
}
.child-comment {
    position: absolute;
    top: -0.1rem;
    transform: translateX(-200%);
}
.comment-info {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}
.comment-delete {
    padding: 0 0.1rem;
    font-width: 600;
    color: red;
}