.article-info-box {
    padding: 1rem 1rem 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-type {
    font-size: 1.2rem;
}
.article-table {
    border: 1px solid #444;
    table-layout: fixed;
}
.article-title {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-title:hover {
    font-weight: 600;
}